# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Day 2/nbproject/private/
/Day 2/build/
/Day 2/dist/
/Day 3/nbproject/private/
/Day 3/build/
/Day 3/dist/
/Calculator/nbproject/private/
/Calculator/build/
/Calculator/dist/
/Day 4_Classes2/nbproject/private/
/Day 4_Classes2/build/
/Day 4_Classes2/dist/
/Day 5/nbproject/private/
/Day 5/build/
/Day 5/dist/
/Day 6/nbproject/private/
/Day 6/build/
/Day 6/dist/
/Day 7/nbproject/private/
/Day 7/build/
/Day 7/dist/
/Day7_with GUI/nbproject/private/
/Day7_with GUI/dist/
/Day 8-more GUI/nbproject/private/
/Day 8-more GUI/build/
/Day 8-more GUI/dist/
/Day 9_FileIOexample/nbproject/private/
/Day 9_FileIOexample/build/
/Day 9_FileIOexample/dist/
/Day 9_ uzdevums/nbproject/private/
/Day 9_ uzdevums/build/
/Day 9_ uzdevums/dist/